<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title:'Logout'}) %>
    <link rel="stylesheet" href="/css/auth.css" />
  </head>

  <body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs') %> <%- (typeof message !== 'undefined') ? (include('../partials/message.ejs',
    {message})) : '' %>
    <script src="/js/message.js" defer></script>

    <main>
      <h1>Logout User</h1>
      <form class="login-form shadow-md rounded-lg" action="/logout" method="POST">
        <% if (typeof email !== 'undefined') { %>
        <p>Current User: <strong><%= email %></strong></p>
        <% } %> <% if (typeof isAdmin !== 'undefined') { %>
        <p>Privileges: <strong>Administrator</strong></p>
        <% } %>
        <input type="submit" value="Logout" />
      </form>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
