<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head_admin.ejs', {title:'All Products'}) %>
    <link rel="stylesheet" href="/css/admin-all-products.css" />
  </head>

  <body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs') %>
    <section class="admin">
      <h1>ADMIN PAGE - ALL PRODUCTS</h1>
      <!-- Links -->
      <%- include('../partials/links_admin.ejs', {page:'all-products'})%>
      <!-- Products Grid -->
      <div class="grid-container">
        <p class="header">ID</p>
        <p class="header">Title</p>
        <p class="header">Brand</p>
        <p class="header">Price</p>
        <p class="header">Discount</p>
        <p class="header">Stock</p>
        <a class="header">Action</a>
        <% products.forEach((product) => { %>
        <p id="id"><%= product.id %></p>
        <p id="title"><%= product.title %></p>
        <p id="brand"><%= product.brand %></p>
        <p id="price"><%= product.price %></p>
        <p id="discount-percentage"><%= product.discountPercentage %></p>
        <p id="stock"><%= product.stock %></p>
        <a class="modify-submit" href="/admin/modify-product/<%= product.id %>?edit=true">Modify</a>
        <% }) %>
      </div>
    </section>
  </body>
</html>
