<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title:'All Products'}) %>
    <link rel="stylesheet" href="/css/admin-all-orders.css" />
    <script src="/js/admin-all-orders.js" defer></script>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs') %>
    <section class="admin">
      <!-- Admin NAV -->
      <%- include('../partials/admin_nav.ejs') %>
      <!-- Products Grid -->
      <main class="w-full px-4 mt-10">
        <% if (typeof orders !== 'undefined' && orders.length > 0) { %>
        <table class="w-full divide-y divide-gray-200 shadow overflow-hidden border-b border-gray-200 rounded-lg">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Order
              </th>

              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Date
              </th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Total
              </th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Status
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% orders.forEach((order) => { %>
            <tr>
              <td class="px-6 py-4 text-sm font-medium text-gray-900"><%= order.id %></td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-900">
                <%= (new Date(order.date)).toLocaleString() %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-900">
                $<%= order.total.toFixed(2) %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                <% if (order.status === 'paid') {%>
                <select class="select select-accent select-sm w-full max-w-xs" data-orderID="<%= order._id %>">
                  <option value="awaiting payment">Awaiting Payment</option>
                  <option value="paid" selected>Paid</option>
                  <option value="shipped">Shipped</option>
                  <option value="delivered">Delivered</option>
                  <option value="cancelled">Cancelled</option>
                </select>
                <% } else if (order.status === 'shipped') { %>
                <select class="select select-accent select-sm w-full max-w-xs" data-orderID="<%= order._id %>">
                  <option value="awaiting payment">Awaiting Payment</option>
                  <option value="paid">Paid</option>
                  <option value="shipped" selected>Shipped</option>
                  <option value="delivered">Delivered</option>
                  <option value="cancelled">Cancelled</option>
                </select>
                <% } else if (order.status === 'delivered') { %>
                <select class="select select-primary select-sm w-full max-w-xs" data-orderID="<%= order._id %>">
                  <option value="awaiting payment">Awaiting Payment</option>
                  <option value="paid">Paid</option>
                  <option value="shipped">Shipped</option>
                  <option value="delivered" selected>Delivered</option>
                  <option value="cancelled">Cancelled</option>
                </select>
                <% } else if (order.status === 'cancelled') { %>
                <select class="select select-error select-sm w-full max-w-xs" data-orderID="<%= order._id %>">
                  <option value="awaiting payment">Awaiting Payment</option>
                  <option value="paid">Paid</option>
                  <option value="shipped">Shipped</option>
                  <option value="delivered">Delivered</option>
                  <option value="cancelled" selected>Cancelled</option>
                </select>
                <% } else if (order.status === 'awaiting payment') { %>
                <select class="select select-error select-sm w-full max-w-xs" data-orderID="<%= order._id %>">
                  <option value="awaiting payment" selected>Awaiting Payment</option>
                  <option value="paid">Paid</option>
                  <option value="shipped">Shipped</option>
                  <option value="delivered">Delivered</option>
                  <option value="cancelled">Cancelled</option>
                </select>
                <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <% } else {%>
        <div class="empty-cart">
          <img src="/img/empty_orders.png" alt="empty orders" />
        </div>
        <% } %>
      </main>
      <div class="pagination-bar my-5"><%- include('../partials/pagination_bar.ejs', {current, pages, perPage}) %></div>
    </section>
  </body>
</html>
