<ul class="links-container">
  <li class="link-item"><a href="/" class="link <%=page==='Home' && 'active-page' %>">Home</a></li>
  <li class="link-item"><a href="/products" class="link <%=page==='Products' && 'active-page' %>">Products</a></li>
  <li class="link-item"><a href="/sales" class="link <%=page==='Sales' && 'active-page' %>">Sales</a></li>
  <li class="link-item"><a href="/admin/add-product <%=page==='add-product' && 'active-page' %>" class="link">Add
      Product</a></li>
  <li class="link-item"><a href="/admin/edit-product <%=page==='edit-product' && 'active-page' %>" class="link">Edit
      Product</a></li>
</ul>