<nav class="navbar bg-base-100 shadow-lg justify-center sticky top-0 z-10">
  <div class="wrapper justify-between items-center">
    <a class="btn btn-ghost btn-lg normal-case text-xl" href="/">
      <img src="/icons/bookstore_logo.png" class="w-10 mr-3" />
      <h1 class="pt-2">bookStore</h1>
    </a>
    <!-- SEARCH BAR -->
    <div class="form-control search-bar">
      <input type="text" placeholder="Search" class="input input-bordered input-sm mx-auto" />
    </div>
    <div class="gap-4 flex justify-center items-center">
      <!-- MAIN PAGES MENU -->
      <ul class="menu menu-horizontal p-0 gap-2">
        <li><a href="/" class="<%= title === 'home' && 'btn-outline ' %> btn-ghost btn-sm">Home</a></li>
        <li>
          <a href="/categories" class="<%= title === 'categories' && 'btn-outline ' %> btn-ghost btn-sm">Products</a>
        </li>
        <li><a href="/sales" class="<%= title === 'sales' && 'btn-outline ' %> btn-ghost btn-sm">Sales</a></li>
      </ul>
      <!-- CART -->
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <div class="indicator">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
              />
            </svg>
            <% if (typeof cart !== 'undefined' && cart.length > 0) { %>
            <!-- get total items times the quantity -->
            <span class="badge badge-sm indicator-item"
              ><%= cart.reduce((accumulator, currentValue) => { return accumulator + currentValue.quantity},0) %></span
            >
            <% } %>
          </div>
        </label>
        <div tabindex="0" class="cart-dropdown mt-3 card card-compact dropdown-content w-96 bg-base-100 shadow">
          <% if (typeof cart === 'undefined' || cart.length === 0) { %>
          <img src="/img/empty_cart.png" alt="empty cart" />
          <% } else {%>

          <div class="card-body">
            <span class="font-bold text-lg"
              ><%= (typeof cart !== 'undefined' && cart.length > 0) ? cart.length : '0' %> Item<%= (typeof cart !==
              'undefined' && cart.length > 1) ? 's' : '' %></span
            >
            <span class="cart-products">
              <% if (typeof cart !== 'undefined' && cart.length > 0) { %> <% cart.forEach(product => { %>
              <div class="product">
                <div class="product-image">
                  <img src="<%= product.product.imageLinks.thumbnail %>" alt="<%= product.product.title %>" />
                </div>
                <div class="product-info">
                  <span class="product-name"><%= product.product.title %></span>
                  <span class="product-price"
                    >$<%= product.product.price.toFixed(2) %><%= product.quantity > 1 ? ' x ' +product.quantity : '' %>
                  </span>
                </div>
              </div>
              <% }) %> <% } %>
            </span>
            <span class="text-ghost font-medium text-md"
              >Subtotal: $<%= (typeof cartTotal !== 'undefined') ? cartTotal.toFixed(2) : '0' %></span
            >
            <div class="card-actions">
              <a href="/cart" class="btn bg-indigo-600 hover:bg-indigo-700 btn-sm btn-block">View cart</a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <!-- USER -->
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <% if (isLoggedIn) { %> <% if (user?.isAdmin) { %>
            <img src="/icons/admin.png" />
            <% } else { %>
            <img src="/icons/user2.png" />
            <% } %> <% } else { %>
            <img src="/icons/user.png" />
            <% } %>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <% if (isLoggedIn) { %>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <% if (user?.isAdmin) { %>
          <li>
            <a href="/admin/all-products">
              Dashboard
              <span class="badge badge-outline badge-sm badge-secondary">Admin</span>
            </a>
          </li>
          <% } %>
          <li><a href="/logout">Logout</a></li>
          <% } else { %>
          <li><a href="/login">Login</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>
