<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title}) %>
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs', {isLoggedIn, user, title}) %> 
    <%- (typeof message !== 'undefined') ? (include('../partials/message.ejs', {message})) : '' %>
    <script src="/js/message.js" defer></script>

    <section class="section-home">
      <header>
        <h1>Welcome to the Book Store!</h1>
        <p>Check out the new and on sales books</p>
      </header>

      <article class="shadow-md hover:shadow-lg rounded-lg p-8">
        <!-- Welcome text for book store -->
        <img src="/icons/bookstore_logo.png" alt="eshop logo" />
        <h1><%= quote.quote %></h1>
        <p>~ <%= quote.author %> ~</p>
      </article>
    </section>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
