<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title: category}) %>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs') %>
    <!-- Links -->
    <%- include('../partials/links.ejs', {page: category.toLowerCase()}) %>

    <div class="products-container">
      <% products.forEach(element => { %>
      <div class="product-card">
        <div class="product-image" href="/products/<%= element.id %>">
          <span class="discount-tag"><%= element.discountPercentage %>% off</span>
          <a href="/products/<%= element.id %>">
            <img src="<%= element.images[0] %>" class="product-thumb" alt="" />
          </a>
          <div class="buttons">
            <button class="card-btn"><img src="/img/wishlist.png" alt="" /></button>
            <button class="card-btn"><img src="/img/cart3.png" alt="" /></button>
          </div>
        </div>
        <div class="product-info">
          <h2 class="product-brand"><%= element.title %></h2>
          <p class="product-short-des"><%= element.description %></p>
          <span class="price"
            >$<%= (element.price - (element.price * element.discountPercentage/100)).toFixed(2) %></span
          ><span class="actual-price">$<%= element.price %></span>
        </div>
      </div>
      <% }) %>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
