<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title: product.category}) %>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs') %>

    <div class="product-container">
      <div class="left-container">
        <div class="left-gallery">
          <img src="<%- product.images[0] %>" alt="<%- product.name %>" />
        </div>
        <div class="right-gallery">
          <% for( let index = 1; index < product.images.length; index++ ) { %>
          <img src="<%- product.images[index] %>" alt="<%- product.name %>" />
          <% } %>
        </div>
      </div>
      <div class="right-container">
        <div class="name">
          <h1><%- product.title %></h1>
        </div>
        <div class="description">
          <p><%- product.description %></p>
        </div>
        <div class="price">
          <h2>$<%- (product.price - product.price * product.discountPercentage/100).toFixed(2) %></h2>
          <h2>$<%- product.price %></h2>
        </div>
        <div class="quantity">
          <label for="quantity">Quantity: </label>
          <input type="number" name="quantity" id="quantity" min="1" max="<%= product.stock %> " value="1" />
        </div>
        <div class="buttons">
          <button class="add-to-cart" type="button" name="button">Add to Cart</button>
          <button class="add-to-wishlist" type="button" name="button">Add to Wishlist</button>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
